{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{{form.mobile|as_crispy_field}}
{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-6  ">
            <h5 class="titulos">Alerta e-mail</h5>
            {% comment %} <form action=""method="POST"autocomplete="off"class="justify-content-center forms_st shadow-form  ">
              <div class="row">
              <div class="mb-4">
                {% csrf_token %} 

                {{ form.email|as_crispy_field }}

              </div>
              <div class="mb-4">
                {{ form.passemail|as_crispy_field }}

              </div>
            </div>
              <div class="mb-4">
                {{ form.recivedemail|as_crispy_field }}

              </div>
              <div class="mb-4">
                {{ form.subject|as_crispy_field }}

              </div>
              <div class="mb-4">
                {{ form.contentemail|as_crispy_field }}

              </div>
              <div class="mb-4">
                {{ form.time_mail|as_crispy_field }}

              </div>
              <div class="d-grid gap-2 d-md-block">

                  
                  <button type="submit" class="btn btn-primary btn-color">Guardar</button>


              </div>
            </form> {% endcomment %}


            <form action="" method="POST" autocomplete="off" class="row g-3 text-white">
              {% csrf_token %} 

              <div class="col-md-6">
                {{ form.email|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.passemail|as_crispy_field }}

              </div>
              <div class="col-6">
                {{ form.recivedemail|as_crispy_field }}

              </div>
              <div class="col-6">
                {{ form.subject|as_crispy_field }}

              </div>
              
              <div class="col-md-4">
                {{ form.time_mail|as_crispy_field }}

              </div>
              <div class="col-md-6">
                {{ form.contentemail|as_crispy_field }}

              </div>
           
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>



















    </div>
    <div class="col-md-3"></div>

</div>
</div>
{% endblock content %}