{% extends 'core/base.html' %}
{% load rest_framework %}

{% block content %}
<div class="container container_home " >

            <div class="row"id="valores">

                {% for e in equipos  %}

                <div class="col-md-4">

                <div class="card-valores">
                    {% if e.state is True %}

                  <span>  <img src="https://img.icons8.com/emoji/20/000000/green-circle-emoji.png"/></span>
                  {% else %}
                  <span> <img src="https://img.icons8.com/emoji/20/000000/red-circle-emoji.png"/></span>
                  {% endif %}
                


              <div >

                  <h4>{{e.name}}</h4>

                  <p id="memory_free">Memoria disponible:{{e.memory_free}}GB</p>
                    <p >Procesador:{{e.pro_consum}}&#37</p>
                    <a href="{% url 'restart' e.id_equipo %} "> <img src="https://img.icons8.com/nolan/45/restart.png"/></a>
                    
                    <a href="{% url 'poweroff' e.id_equipo %}"><img src="https://img.icons8.com/nolan/45/shutdown.png"/></a>
                    <a href="{% url 'delete' e.id_equipo %}"><img src="https://img.icons8.com/nolan/45/waste.png"/></a>
                    <a href="{% url 'sendmessage' e.id_equipo %}">
                        <img src="https://img.icons8.com/nolan/45/new-message.png"/>
                      </a>
                    </div>
                  </div>

              </div>
              {% endfor %}

        </div>
        </div>





{% endblock content %}

